@font-face{font-family:"Conduit ITC";src:url(dew://lib/Conduit-ITC.woff);}
body {
    margin: 0;
    font-family: "Conduit ITC", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}
body:not([data-gamepad-enabled]) .gamepad-only {
    display:none;
}
:root {
    --side-margin: 120px;
    --header-top-padding: 64px;
    --header-top-height: 190px;
    --sorting-height: 70px;
}






/*Header Area*/
p#menuTitle {
    font-size: 72px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #F0F0F0;
    line-height: 140px;
}
.server-list-header {
    background: radial-gradient(ellipse at center, rgba(6,9,12,0.7) 0%,rgba(6,9,12,0) 100%);
    width: calc(100% - var(--side-margin) - var(--side-margin) );
    position: absolute;
    height: var(--header-top-height);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}
/*Search*/
input#server-list-filter {
    background-color: rgba(0, 0, 0, 0.34);
    outline: none;
    border: none;
    font-size: 26px;
    font-family: conduit itc;
    padding: 12px;
    top: 0;
    vertical-align: top;
    margin-right: 32px;
    color: white;
}
input#server-list-filter:focus{
    color: white;
}
div#serverSearch {
    position: absolute;
    right: var(--side-margin);
    top: 50px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}
button#refresh:hover {
    opacity: 1;
}
button#refresh {
    width: 48px;
    height: 48px;
    font-size: 0;
    background: none;
    border: none;
    background-image: url(icon-refresh.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* top: 0; */
    vertical-align: top;
    margin-top: 5px;
    outline: none;
    opacity: 0.8;
}
button#refresh.refreshing{
    opacity: 1;
    animation-name: refreshing;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes refreshing {
    from {
        transform:rotate(0deg);
        }
    to {
        transform:rotate(360deg);
        }
}

.sort-asc:after{
    content: '▲';
}
.sort-desc:after{
    content: '▼';
}

.server-list th:nth-child(1), .server-list td:nth-child(1){ width: 40%;}
.server-list th:nth-child(2), .server-list td:nth-child(2){ width: 15%;}
.server-list th:nth-child(3), .server-list td:nth-child(3){ width: 5%;}
.server-list th:nth-child(4), .server-list td:nth-child(4){ width: 10%;}
.server-list th:nth-child(5), .server-list td:nth-child(5){ width: 10%;}
.server-list th:nth-child(6), .server-list td:nth-child(6){ width: 10%;}
.server-list th:nth-child(7), .server-list td:nth-child(7){ width: 5%;}

.server-list td:nth-child(1) {
    text-transform: capitalize;
}

.server-list th {
    padding: 15px;
}

/*Server browser*/
#server-list-wrap {
    position: absolute;
    top: var(--header-top-height);
    width: 100%;
    height: calc(100% - var(--header-top-height));
}

/*Server browser container*/
.server-list {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}
/*Server Sorting*/
.server-list thead{
    background: linear-gradient(to right, rgba(6,9,12,0) 0%,rgba(6,9,12,0.08) 6%,rgba(6,9,12,0.49) 50%,rgba(6,9,12,0.5) 51%,rgba(6,9,12,0.08) 93%,rgba(6,9,12,0) 100%);
    width: 100%;
    display: block;
    color: rgb(133, 141, 150);
    text-transform: uppercase;
}
.server-list thead th:hover{
    color: rgb(187, 200, 216);
}

/*Fix Table Spacing*/
table.server-list thead tr, .server-list tbody tr {
    display: flex;
}
table.server-list thead tr{
    padding-right: 12px;
    text-align: left;
}
/*Server List Scrolling*/
.server-list tbody {
    display: block;
    height: calc( 100% - var(--sorting-height) );
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

/*Server List Item Normal*/
.server-list tbody tr {
    font-size: 18px;
    color: rgb(155, 170, 188);
    width: 100%;
}
/*Server List Item padding*/
.server-list tbody tr td {
    padding: 10px;
}
/*Server List Item Hovering*/
.server-list tbody tr.selected {
    background: linear-gradient(to right, rgba(127,90,53,0.8) 0%,rgba(126,89,53,0.5) 100%);
	color: rgb(241, 241, 241);
}







/*Gamepad*/
.page_footer.gamepad-only {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    height: 100px;
    color: white;
    font-size: 24px;
    padding-left: var(--side-margin);
}

.page_footer.gamepad-only img {
    width: 32px;
    vertical-align: inherit;
}
.page_footer.gamepad-only p {
    float: left;
    vertical-align: sub;
    margin-right: 20px;
}

body[data-gamepad-enabled="true"] #server-list-wrap {
    height: calc(100% - var(--header-top-height) - 120px);
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(38, 50, 65, 0.075);
    width: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(155, 170, 188, 0.788);
    width: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 170, 188, 0.938);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(98, 106, 116); 
}

.page_footer a:hover {
    text-decoration: underline;
}

/* SweetAlert2 */
.alertWindow{
    font-family: "Conduit ITC"; 
    border-radius: 0;
    background-color: rgba(0,0,0,0) !important;
    background-image: -webkit-linear-gradient( -90deg, rgba(27,41,70,0.94902) 0%, rgba(24,39,69,0.9) 20%, rgba(24,39,69,0.90196) 20%, rgba(6,16,37,0.85098) 100%) !important;
    padding-top: 50px !important;
    font-size: 18pt;
    border: 1px solid #000;
    outline: 0;
    line-height: 1em;
    min-height: 0 !important;
}

.swal2-content{
    color: #98b3d3 !important;
    font-size: 20px !important;
    font-weight: 600 !important; 
}

.swal2-icon{
    margin-top: 10px;
}

.swal2-actions {
    margin: 0 !important;
}

.swal2-title{
    position: absolute !important;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 40px;
    line-height: 40px;
    color: white !important;
    background-color: black;
    font-size: 20px;
    border-bottom: solid 1px rgba(91, 106, 133, 0.3); 
    margin-top: 0;
    text-align: center;
    font-weight: 700;
}

.swal2-input{
    height: 25px;
    margin-bottom: 0;
}

.swal2-validationerror {
    background-color: #13233d !important;   
    padding: 0;
    margin: 0;
}

.alertButton {
    font-family: "Conduit ITC";
    border-style: solid;
    border: 0 !important;
    background-color: rgba(0,0,0,0) !important;
    color: white;
    float: left !important;
    font-size: 24px !important;
}

.alertButton:focus {
    outline:0;
}

.alertButton:hover {
    text-decoration: underline;
    background-image: none !important;
}

.alertButton img{
    width: 32px;
    margin-bottom: -4px;
    margin-right: 4px;
    vertical-align: inherit;
}

#population {
    color: rgb(133, 141, 150);
    font-size: 24px;
    margin-right: 10px;
}

.playlist-tabs ul {
    display:flex;
    list-style:none;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    padding:0;
    margin:0;
}

.playlist-tabs ul li  {
    text-align: center;
}

.playlist-tabs ul li a {
    padding-right: 30px;
    font-size: 33px;
    text-transform:uppercase;
    color: rgb(133, 141, 150);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom:10px;
}

.playlist-tabs ul li a:hover {
    color: rgb(187, 200, 216);
}

.playlist-tabs ul li a.active {
    color:white;
}